doctype html
html
  head
    title Website Title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 My website
    p Welcome to my website!!
    script(src="/js/bundle.js")